.App {
	margin: 0;
	padding: 0;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: black;
	margin: 3%;
}
.main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cityLoading-div {
	display: flex;
	flex-direction: column;
	width: 20%;
}
.city-item {
	text-align: left;
	border: 2px solid black;
	width: 100%;
	margin: auto;
	margin-bottom: 3%;
	margin-top: 4%;
	padding-left: 5%;
}
.search-div {
	text-align: center;
	margin-bottom: 5%;
	margin: auto;
	width: 25%;
}
button {
	font-size: 1.1em;
	margin-left: 1%;
	width: 100px;
	height: 40px;
}
.input {
	font-size: 1.1em;
	width: 200px;
	height: 33px;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	margin-bottom: 3%;
}
.weather-desc {
	padding-bottom: 2%;
	line-height: 0.3em;
}
.bold {
	font-weight: bold;
	padding-bottom: 0;
}
